/*
  ================================================
   Made with heart by Stainowy (© 2025)
   stainowy.vercel.app
   github.com/stainowy

  You MAY NOT:
   - Use this code for commercial purposes.
   - Remove credit or redistribute without license terms.

   Respect the code. Respect the creator.
  ================================================
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(circle at top left, #8fc9ff1a, transparent 60%), #0b0a0a;
  color: #e5e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.server-card {
  background-color: rgba(255, 255, 255, 0.02);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  text-align: center;
  backdrop-filter: blur(10px);
  position: relative;
}

.server-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 25px;
}

.join-btn {
  background: #333;
  border: none;
  padding: 12px 30px;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.3s;
}

.join-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #333;
}

.stats {
  font-size: 14px;
  color: #aaa;
  margin-top: 15px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.tag {
  padding: 6px 14px;
  border: 1px solid #c3cdd6;
  border-radius: 999px;
  font-size: 13px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

@media (max-width: 600px) {
  h1 {
    font-size: 26px;
  }

  .join-btn {
    width: 100%;
  }

  .server-logo {
    width: 80px;
    height: 80px;
  }

  .server-card {
    margin: 20px;
  }
}
