.projects-header {
	text-align: center;
	margin-top: 150px;
}

.projects-flex {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}

.projects-header h1 {
    font-size: 50px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 40px;
	margin: 60px auto;
	max-width: 1200px;
	padding: 0;
}

.project-card {
	background-color: transparent;
	border-radius: 20px;
	width: 350px;
	min-height: 530px;
	text-align: left; 
	transition: transform 0.3s, box-shadow 0.3s;
	box-sizing: border-box;
	padding: 0 20px 20px; 
	display: flex;
	flex-direction: column;
}

.project-card img {
	width: calc(100% + 40px);
	margin: 0 auto;
	margin-bottom: 15px;
	height: 210px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
  border-bottom: #181d1d 0.5px solid;
}
 

.project-card h2 {
	font-size: 24px;
	margin: 10px 0;
	text-align: left; 
}

.project-card p {
	font-size: 16px;
	color: #ccc;
  margin-top: 10px;
	margin-bottom: 20px;
	text-align: left;
}

.project-card:hover {
	transform: scale(1.05);
}

.project-card button {
	background: transparent;
	color: white;
	border: 2px solid white;
	padding: 10px 30px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 15px;
	transition: 0.3s;
	align-self: flex-start;
}

.project-card button:hover {
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.more {
  color: #ccc;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}

.more:hover {
  color: #fff;
}

@media (max-width: 768px) {
	body {
		padding: 0 5%;
	}

	.projects-container {
		flex-direction: column;
		gap: 20px;
		align-items: center;
		padding: 0;
	}

	.project-card {
		width: 90%;
		margin-left: 15px;
	}
}

.tags-container {
    margin-top: 12px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 3px;
}

.tag {
    border: 1.5px solid rgb(54, 53, 53);
    border-radius: 20px;
    padding: 3px 8px;
    color: white;
    background: transparent;
    font-weight: 500;
    font-size: 0.75rem;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: default;
    white-space: nowrap;
}

.tag.highlighted {
    border: 1.5px solid rgb(255, 255, 255);   
    font-weight: 600;
}

@media (max-width: 400px) {
    .tag {
        font-size: 0.75rem;
        padding: 4px 10px;
        border-width: 1px;
    }
}